{% extends 'base.html.twig' %}

{% block body %}
    <h1>Preguntas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Enunciado</th>
                <th>Pubdate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pregunta in preguntas %}
            <tr>
                <td><a href="{{ path('pregunta_show', { 'id': pregunta.id }) }}">{{ pregunta.id }}</a></td>
                <td>{{ pregunta.enunciado }}</td>
                <td>{% if pregunta.pubDate %}{{ pregunta.pubDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pregunta_show', { 'id': pregunta.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pregunta_edit', { 'id': pregunta.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pregunta_new') }}">Create a new pregunta</a>
        </li>
    </ul>
{% endblock %}
